APP_NAME=
APP_VERSION=
APP_PORT=

APP_DEBUG=

APP_GOOGLE_API_KEY=
APP_GOOGLE_LLM_MODEL=
APP_GOOGLE_EMBEDDING_MODEL=

APP_OPENROUTER_BASE_URL_MODEL=
APP_OPENROUTER_API_KEY=
APP_OPENROUTER_LLM_MODEL=
APP_ZHIPU_EMBEDDING_MODEL=
APP_ZHIPU_API_KEY=

APP_DB_DRIVER=
APP_DB_HOST=
APP_DB_PORT=
APP_DB_USER=
APP_DB_PASSWORD=
APP_DB_NAME=
APP_DB_POOL_MIN=
APP_DB_POOL_MAX=
APP_DB_POOL_TIMEOUT=

APP_UPLOAD_FOLDER=

APP_CELERY_BROKER_URL=

APP_JWT_SECRET_KEY=

APP_MINIO_URL=
APP_MINIO_ACCESS_KEY=
APP_MINIO_SECRET_KEY=
APP_MINIO_BUCKET_NAME=

APP_CHROMA_DB_DIR=
APP_CHROMA_COLLECTION_NAME=